# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
.eggs/
dist/
build/
*.log

# Venv
.venv/
venv/

# Env (секреты)
.env
.env.*

# IDE/OS
.DS_Store
.idea/
.vscode/

# Caches
.mypy_cache/
.pytest_cache/
.cache/
.coverage
coverage.xml

# Local data
*.sqlite3
data/
secrets.*
